body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18pt;
}
h2 {
    text-align: center;
}

#app{
    text-align: center;
}

#error_message{
    color: red;
}

.itemButton{
    font-family: monospace;
    color: blueviolet;
    border-radius: 7pt;
    border-style: dashed;
    font-size: 15pt;
    padding: 5pt;
    margin: 1pt;
    display: inline;
}
.itemButton:hover{
    background-color:greenyellow;
}

.customButton{
    font-family: monospace;
    color: rgb(232, 88, 26);
    border-radius: 7pt;
    font-size: 17pt;
    padding: 5pt;
    margin: 1pt;
    display: inline-block;
}
.customButton:hover{
    background-color:rgb(234, 177, 255);
}


input, input:focus{
    outline: none;
    border: none;
    font-size: 13pt;
    font-family: sans-serif;
}
